.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  min-height: 400px;
  margin: 100px auto 0;
}

.login__title {
  font-size: 18px;
  font-weight: bold;
}

.login__as-admin {
  margin-top: 15px;
  align-self: flex-start;
}

.login__submit {
  background-color: cadetblue;
}

.mat-form-field {
  width: 100%;
}

.mat-error {
  font-size: 14px;
}
