.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.header__title {
  margin: 0;
}

.user {
  display: flex;
  align-items: center;

  font-size: 16px;
}

.user__name {
  margin: 0;
}

.user__logout {
  margin-left: 15px;
}
