<mat-toolbar class="header">
  <div class="menu">
    <a class="menu__item" [routerLink]="['/home']" routerLinkActive="menu__item--active">Новости</a>
    <a class="menu__item" [routerLink]="['/favorites']" routerLinkActive="menu__item--active">Избранное</a>
  </div>
  <div class="user"
       *ngIf="(isLoggedIn$ | async)">
    <p class="user__name">
      {{ (isAdmin$ | async) ? 'Администратор' : 'Пользователь' }} {{ (user$ | async)?.name }}
    </p>
    <button class="user__logout"
            (click)="logout()"
            type="button"
            mat-raised-button>Выход</button>
  </div>
</mat-toolbar>
